<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban Todo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"> 
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js">
</script>
</head>

<body>

    <div style="margin-top: 50px; margin-bottom: 50;" class="ui container">

    <h1 class="ui center aligned header">Todo + Kanban Board</h1>

    <form class="ui form" action="/add" method="POST">
        <div class="field">
            <label for="title">What do you want to do? </label>
            <input style="margin-bottom: 10px;" type="text" minlength = "1" required name="title" placeholder="Enter a task...">
            <button class="ui blue button" type="submit">Add</button>
        </div>
    </form>

    
    <div class="ui three column grid">

        <div class="row">
            <div class="column">
                <br>
                <div class="ui teal inverted raised center aligned segment">
                    <h1> To Do</h1>
                    {% for task in task_list%}
                    <div class="ui segment">
                        <p class="ui small header"> {{task.title}}</p>
                    
                        <!-- {% if task.complete == False%}
                        <span class="ui gray label"> Not Complete</span>
                    
                        {% else %}
                        <span class="ui green label"> Completed</span>
                    
                        {% endif %}
                        <br>
                        <br>
                    
                        <a class="ui purple label" href="/update/{{ task.id }}">Update</a> -->
                        <a class="ui red label" href="/delete/{{ task.id }}">Delete</a>
                    </div>
                    {% endfor%}
                </div>
            </div>
            <div class="column">
                <br>
                <div class="ui teal inverted raised center aligned segment">
                    <h1> Doing</h1>

                </div>
            </div>

            <div class="column">
                <br>
                <div class="ui teal inverted raised center aligned segment">
                    <h1> Done</h1>
                </div>
            </div>
            </div>


        </div>
    </div>

            

    </div>
</body>
</html>