<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban Board</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <script src="https://use.fontawesome.com/ef8b4869a8.js"></script>
</head>
<body>
    <h1>Dima's Kanban Board</h1>
        <div>
            <form method="POST" action="/add">
                {% if 'csrf_token' in form %}
                {{form.csrf_token}}
                {% endif %}
                <div>
                    <label for="">{{ form.title.label }}</label>
                    {{ form.title }}
                </div>
                <div>
                    <label for="">Current Status:</label>
                    {{ form.state }}
                    {{ form.submit(id="submit-button")}}
                </div>
            </form>
        </div>
    <div class="board">
        <div class='container' id="first-container">
            <h3>To Do</span></h3>
            <!-- show a To Do task  -->
            {% for todo in todo_list%}
            {% if todo.state == "To Do"%}
            <div class="card">
                <span>{{todo.title}}</span>
                <!-- delete and update status buttons -->
                <a href="/delete/{{todo.id}}"><span class="fa fa-trash" id="delete-button"></a>
                <a href="/update_right/{{todo.id}}"><span class="fa fa-arrow-right" id="right-button"></a>
            </div>
            {% endif %}
            {% endfor %}
            <!-- end -->
        </div>
        <div class='container' id="second-container">
            <h3>Doing</h3>
            <!-- show a Doing task  -->
            {% for todo in todo_list%}
            {% if todo.state == "Doing"%}
            <div class="card">
                <span>{{todo.title}}</span>
                <!-- delete and update status buttons -->
                <a href="/delete/{{todo.id}}"><span class="fa fa-trash" id="delete-button"></a>
                <a href="/update_right/{{todo.id}}"><span class="fa fa-arrow-right" id="right-button"></a>
            </div>
            {% endif %}
            {% endfor %}
            <!-- end -->
        </div>
        <div class='container' id="third-container">
            <h3>Done</h3>
            <!-- show a Done task  -->
            {% for todo in todo_list%}
            {% if todo.state == "Done"%}
            <div class="card">
                <span>{{todo.title}}</span>
                <!-- delete button  -->
                <a href="/delete/{{todo.id}}"><span class="fa fa-trash" id="delete-button"></a>
            </div>
            {% endif %}
            {% endfor %}
            <!-- end -->
        </div>
    </div>
</body>
</html>